<div id="slider">
  <%= image_tag 'rustgevend.png', :id => 'slider-image-rustgevend', :class => 'slider-image' %>
  <%= image_tag 'actief.png', :id => 'slider-image-actief', :class => 'slider-image' %>
  <%= image_tag 'spannend.png', :id => 'slider-image-spannend', :class => 'slider-image' %>
  <%= image_tag 'extreem.png', :id => 'slider-image-extreem', :class => 'slider-image' %>
  <div id="slider-container">
    <input id="slider-element" type="range" value="1" min="1" max="4" step='.1' class="slider" />
    <ul>
      <li><h3>rustgevend</h3></li>
      <li><h3>actief</h3></li>
      <li><h3>spannend</h3></li>
      <li><h3>extreem</h3></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <ul id="countries">
        <% @countries.each do |country| %>
        <li class="country classification_<%= country.classification %>">
          <div class="row">
            <div class="image span3">
              <%= image_tag 'http://placehold.it/250x150' %>
              <%= link_to 'Boek Die Trip!', country_path(country), { :class => 'btn btn-large btn-warning' } %>
            </div>
            <div class="span9">
              <h2><%= country.title %></h2>
              <div class="info">
                <% if defined? country.report %>
                  <p><%= truncate(strip_tags(country.report.algemeen), length: 250) %>
                <% end %>
              </div>
              <ul class="stats row">
                <li class="span3 price"></li>
                <li class="span3 temp">
                  ?
                </li>
                <li class="span3 prison">
                  <% if defined? country.prisoner.count %>
                    <%= country.prisoner.count %>
                  <% else %>
                    Onbekend
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

