
<div class="country-header" style="background-image: url(<%= image_path(@country.class_image) %>);">
  <h1><%= @country.title %></h1>
  <p class="leader"><%= @country.cool_title(@country.dangers.sample) %></p>
</div>

<div class="container">
  <%= link_to (raw "&larr; Terug naar het overzicht"), root_path %>
  <div class="row">
    <div class="span10 offset1 country-content">
      <%= link_to 'Boek Nu!', '#', { :class => 'btn btn-large btn-warning pull-right' } %>
      <h3>Algemeen</h3>
      <%= raw @country.report.algemeen %>
      <h3>Actueel</h3>
      <%= raw @country.report.actueel %>
      <h3>Terrorisme</h3>
      <%= raw @country.report.terrorisme %>
      <h3>Criminaliteit</h3>
      <%= raw @country.report.criminaliteit %>
      <h3>Gebieden</h3>
      <%= raw @country.report.gebieden %>
    </div>
    <div class="span8 offset2 contact">
      <% if @country.consulates.first %>
        <div class="travel-guide clearfix">
          <h1>Mocht het niet allemaal goed aflopen of je hebt hulp nodig tijdens je permanente verblijf.<br/>
            <% if !@country.consulates.first.telephone.nil? %>
              <small>Dan kun je mij altijd 24/7 bereiken op <%= @country.consulates.first.telephone %></small>
            <% end %>
          </h1>
          <div class="thumbnail">
            <%= image_tag @country.reisleider %>
          </div>
          <dl>
            <dt>Reisleider:</dt>
            <dd><%= @country.consulates.first.contact %></dd>
            <dd><a href="mailto:<%= @country.consulates.first.mail %>"><%= @country.consulates.first.mail %></a></dd>
          </dl>
        </div>
      <% end %>
    </div>
  </div>



</div>