<div class="container">
  <h2><%= @country.title %></h2>
  <h3>Algemeen</h3>
  <%= raw @country.report.algemeen %>
  <h3>Actueel</h3>
  <%= raw @country.report.actueel %>
  <h3>Terrorisme</h3>
  <%= raw @country.report.terrorisme %>
  <h3>Criminaliteit</h3>
  <%= raw @country.report.criminaliteit %>
  <h3>Gebieden</h3>
  <%= raw @country.report.gebieden %>

  <%= @country.consulates.to_yaml %>


</div>