<div class="container">
  <h2><%= @country.title %></h2>
  <%= raw @country.report.algemeen %>
  <%= raw @country.report.actueel %>
  <%= raw @country.report.terrorisme %>
  <%= raw @country.report.criminaliteit %>
  <%= raw @country.report.gebieden %>
</div>