
<div class="country-header" style="background-image: url(<%= image_path(@country.class_image) %>);">
  <h1><%= @country.title %></h1>
  <p class="leader"><%= @country.cool_title(@country.dangers.sample) %></p>
</div>

<div class="container">
  <%= link_to (raw "&larr; Terug naar het overzicht"), root_path %>
  <div class="row">
    <div class="span9">
      <h3>Algemeen</h3>
      <%= raw @country.report.algemeen %>
      <h3>Actueel</h3>
      <%= raw @country.report.actueel %>
      <h3>Terrorisme</h3>
      <%= raw @country.report.terrorisme %>
      <h3>Criminaliteit</h3>
      <%= raw @country.report.criminaliteit %>
      <h3>Gebieden</h3>
      <%= raw @country.report.gebieden %>
    </div>
    <div class="span3 contact">
      <% if @country.consulates.first %>
        <div class="well">
          <div class="thumbnail">
            <%= image_tag @country.reisleider %>
          </div>
          <dl>
            <dt>Reisleider:</dt>
            <dd><%= @country.consulates.first.contact %></dd>
            <dt>Telefoon:</dt>
            <dd><%= @country.consulates.first.telephone %></dd>
          </dl>
        </div>
      <% end %>
      <%= link_to "Boek Nu Voor € #{ @country.price }!", '#', { :class => 'btn btn-large btn-warning' } %>
    </div>
  </div>



</div>